#sp-image-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='sp-image-modal-title', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-lg(role='document')
    .modal-content
      .modal-header
        h5#sp-image-modal-title.modal-title= modal_photo ? modal_photo['title'] : 'Photo Title'
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        a(target="_blank", href= modal_photo['photo_src'] ? modal_photo['photo_src'] : 'javascript:void(0)')
          img.card-img-top(src= modal_photo ? modal_photo['src'] : 'http://placehold.it/1920x1080', alt='')
        hr
        //- #sp-image-modal-owner.ml-3
        //-   span.fa.fa-user.mr-2
        //-   a(href='#')= modal_photo ? modal_photo['owner'] : 'Dzhejna'
        //- hr
        #sp-image-modal-place.mb-3
          span.fa.fa-map-marker-alt.mr-2.ml-1
          if modal_photo
            each place in modal_photo['places']
              span.sp-image-modal-place-item
                a(href='javascript:void(0)').searchable-item= place
          else
            span.sp-image-modal-place-item
              a(href='javascript:void(0)').searchable-item Pologi
            span.sp-image-modal-place-item
              a(href='javascript:void(0)').searchable-item Zaporizhia Oblast
            span.sp-image-modal-place-item
              a(href='javascript:void(0)').searchable-item Ukraine
        hr
        #sp-image-modal-tags.d-flex.flex-wrap.mb-3
          span.fa.fa-tags.mr-1.ml-1
          if modal_photo
            each tag in modal_photo['tags']
              a(href='javascript:void(0)').searchable-item.badge.badge-pill.badge-secondary.mx-1.mb-1= tag
          else
            a(href='javascript:void(0)').searchable-item.badge.badge-pill.badge-secondary.mx-1.mb-1 tag1
            a(href='javascript:void(0)').searchable-item.badge.badge-pill.badge-secondary.mx-1.mb-1 tag1
        #sp-image-modal-wiki.mb-3
          if wiki_places
            table.table.table-striped.table-hover
              thead
                tr
                  th(scope='col') #
                  th(scope='col') Thumbnail
                  th(scope='col') Info
                  th(scope='col') Summary
              tbody
                each item, index in wiki_places
                  tr
                    th(scope='row')= index+1
                    td
                      img(src=item['thumbnailImg'] ? item['thumbnailImg'][0] : '')
                    td(style='white-space: nowrap')
                      b
                        a(href=item['wikipediaUrl'] ? item['wikipediaUrl'][0] : '', target='_blank')= item['title'] ? item['title'][0] : ''
                      br
                      //- span FeatureType :
                      each feature in item['feature']
                        if feature != ""
                          span.badge.badge-info= feature
                          br
                      if item['elevation']
                        span Elevation :&nbsp;
                        span.badge.badge-secondary= item['elevation'][0]
                        br
                      if item['lat']
                        span Latitude :&nbsp;
                        span.badge.badge-secondary= item['lat'][0]
                        br
                      if item['lng']
                        span Longitude :&nbsp;
                        span.badge.badge-secondary= item['lng'][0]
                        br
                    td= item['summary'] ? item['summary'][0] : ''
            footer.text-right.blockquote-footer From&nbsp;
              cite(title='Source Title')
                a(href="https://www.wikipedia.org/") Wikipedia
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes